@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --light-blue: #48cae4;
    --dark-blue: #1f3d70;
    --background-color: #b4d0dc;
}


* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
}


a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
}
nav  > a {
    box-shadow: inset 0 0 0 0 var(--dark-blue);
    font-weight: bold;
    font-size: 5vw;
    color: black;

}

/* Box animation*/
nav  > a {
    transition: color 1s ease-in-out, box-shadow 0.5s ease-in-out;
}

nav  > a:hover {
    box-shadow: inset 10em 0 0 0 var(--dark-blue);
    color: var(--background-color);
}


/* On main page holds left and right container for separation*/
#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/* Introduction/credentials*/
#left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#left-side > div {
    margin: auto;
    padding-left: 7vw;
    padding-right: 3vw;
    font-size: 1rem;

}

#right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 600px) {
    #main-container {
        flex-direction: column-reverse;
        padding-top: 1rem;
        justify-content: space-between;
    }
    #right-side {
        /*display: flex;*/
        flex-direction: row;
        flex-wrap: wrap;
        flex:0.1;
        padding: 1rem 1rem 0 1rem;
    }
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 2;
        justify-content: space-around;
        padding: 0;
    }
}