@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --main: #39CCCC;
    --shadow: #145ca8;
    --highlight: #076967;
}


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    color: black;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--main);
    background-image: url("./music-note.svg");
    background-blend-mode: color-burn;
    background-repeat: space;
    /*animation: shifting 300s linear alternate-reverse;*/
}



